/* UploadCV.module.css */

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.headline p:nth-child(3) {
    font-size: 0.7rem;
    font-style: italic;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

.container form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.container form button {
    color: white;
    background-color: #CF7B18;
    padding: 10px 30px;
    border-radius: 30px;
    max-height: 60px;
    max-width: 300px;
    align-self: flex-end;
    transition: all 0.3s ease;
    cursor: pointer;
}

.container form button:hover {
    background-color: #cf7a18ce;
    transition: all 0.3s ease;
}

.error {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    .container form button {
        align-self: center;
    }
}
