.section {
	padding-top: 90px;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 30px 20px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	color: #000;
}

.title {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 10px;
}

.title h1 {
	font-size: clamp(32px, 6vw, 60px);
	line-height: 130%;
	color: #000;
}

.suptitle {
	font-size: clamp(24px, 4vw, 32px);
	font-weight: lighter;
	line-height: 150%;
}

.descr {
	font-size: clamp(18px, 4vw, 24px);
	line-height: 150%;
}

.cta {
	font-size: 20px;
	color: #fff;
	background-color: #cf7b18;
	width: 320px;
	height: 60px;
	border-radius: 60px;
	margin-top: 20px;
	transition: background-color 0.2s ease;
}

.cta:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.description {
	flex: 1;
}

.description p {
	line-height: 30px;
	text-align: justify;
}
