.section {
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 30px 20px;
}

.content h2 {
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 15px;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px 0;
}

.body h3 {
	font-size: clamp(20px, 3vw, 26px);
	font-weight: 700;
	margin-top: 15px;
}

.body p {
	font-size: 1.3rem;
	text-align: justify;
}

.body ul {
	list-style: disc;
	padding-left: 22px;
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.body ul li {
	margin-bottom: 4px;
}
