@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  color: rgb(var(--foreground-rgb));

}

h1 {
  font-size: clamp(22px, 4vw, 32px);
  font-weight: 700;
  line-height: 45px;

}

h1 span {
  color: #04426F;
}

h2 {
  font-size: clamp(16px, 2vw, 22px);
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.secondary-btn {
  color: white;
  background-color: #CF7B18;
  padding: 8px 40px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.employers-content,
.about-content,
.stages-content,
.contact-content,
.skills-content,
.services-cat-content,
.footer-content,
.hero-content {
  padding: 30px 20px;
  margin: 0 auto;
  max-width: 1400px;
}


/* Footer */
.footer-container {
  background-color: #1E2D40;
}

.footer-content {
  display: grid;
  grid-template-areas:
    'links social'
    'logo logo'
    'copyright copyright';
  align-items: start;
  grid-gap: 20px;
  padding: 30px 0;
  color: white;
}

@media (min-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'logo social links'
      'copyright copyright copyright';
    align-items: center;
  }
}

#logo {
  grid-area: logo;
}

#social {
  grid-area: social;
}

#links {
  grid-area: links;
}

#copyright {
  grid-area: copyright;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: clamp(10px, 1.5vw, 14px);
  border-top: 1px solid #AEAEAE;
  padding: 20px 20px 0;
}

.footer-row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.footer-row:nth-child(3) ul li {
  padding: 8px 0;
}

.footer-developed {}

.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

/* Hero */

.top {
  padding-top: 90px;
}

.hero-container {}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 30px;
  color: black;
}

.hero-content .title {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: clamp(24px, 8vw, 96px);
    line-height: 80px;
  }

  p {
    font-size: clamp(16px, 4vw, 24px);
    text-transform: uppercase;
    font-weight: 200;
  }
}

.hero-content .discription {
  flex: 1;

  p {
    line-height: 30px;
    text-align: justify;
  }
}

.services-cat-container {}

.services-cat-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 768px) {
  .services-cat-content {
    flex-direction: row;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 45vw;
  max-height: 450px;
  background-color: #F8F8F8;
  padding: 40px 30px;
  border-radius: 30px;
  flex: 1;

  button,
  a {
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    max-height: 60px;
    max-width: 300px;
    align-self: flex-end;
    transition: all 0.3s ease;
  }

  &:nth-child(1) {

    span {
      color: #04426F;
    }

    button,
    a {
      background-color: #04426F;
    }

    button:hover,
    a:hover {
      background-color: #266795;
    }
  }

  &:nth-child(2) {

    span {
      color: #CF7B18;
    }

    button,
    a {
      background-color: #CF7B18;
    }

    button:hover,
    a:hover {
      background-color: #cf7a18ce;
    }
  }
}

/* Skills */

.skills-container {}

.skills-content {}

.skills-items {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.skills-items .item {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    text-align: justify;
  }
}

.icon-label {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-label .text {
  font-size: clamp(18px, 3vw, 28px);
  font-weight: 600;
}


.icon {
  margin-right: 20px;
  width: 24px;
  /* Ширина иконки */
  height: 24px;
  /* Высота иконки */
  fill: currentColor;
  /* Цвет иконки соответствует текущему цвету текста */
}

.contact-container {}

.contact-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contact-content {
    flex-direction: row;
  }
}

.order-form {
  max-width: 630px;
}

.order-form form button {
  color: white;
  background-color: #CF7B18;
  padding: 8px 40px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.order-form form button:hover {
  background-color: #cf7a18ce;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(60px, auto);
  padding: 20px 0;
}

@media (min-width: 530px) {
  .checkbox-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.checkbox-item {
  display: flex;
  align-items: center;

  label {
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 400;
  }
}

.checkbox-item input[type="checkbox"] {
  margin-right: 20px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  background-color: #000;
  transform: scale(1);
}


.order-form-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;

  h1 {
    text-transform: uppercase;
  }
}

.contact-map {
  flex-grow: 1;
  background-image: url("../../../public/map.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.contact-map-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 5px;
  padding: 40px 20px;
}

.contact-map-grid>* {
  grid-column: span 2;
  font-size: clamp(18px, 8vw, 56px);
  font-weight: 600;
  line-height: 45px;
}

.contact-map-grid> :nth-child(even) {
  margin-left: 40%;
  transform: translateX(10%);
}

.contact-map-grid> :nth-child(3) {
  margin-left: 5%;
  transform: translateX(10%);
}

.stages-container {
  padding: 0 0 120px;
}

.stages-content h1 {
  padding: 0 0 50px;
}

.items-stages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px 60px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .items-stages {
    gap: 40px 60px;
    padding: 0 40px;
  }
}

.stage-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-flow: wrap;
}

.stage-card .icon {
  flex-grow: 0.1;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-card .icon svg {
  filter: #CF7B18;
}

.stage-card .stage-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}

.employers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.employers-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.employers-cards span {
  color: #CF7B18;
}

@media (max-width: 768px) {
  .employers-cards {
    display: flex;
    flex-direction: column;
  }
}

.employers-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  gap: 35px;
  padding: 30px;
  background-color: #F8F8F8;
  background-size: 150px 200px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100% - 20px);
  border-radius: 30px;
  overflow: hidden;
}

/* Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999999999;
}

.popup-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 32px;
  width: 100%;
  max-width: 650px;
  background-color: white;
  align-items: center;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.popup-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.popup-close-btn svg {
  width: 25px;
  height: auto;
}

/* Contact form */

.contact-form {
  width: 100%;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

@media (min-width: 768px) {
  .contact-form-wrapper {
    flex-direction: row;
  }
}

.contact-form-wrapper header {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: none;
  padding-right: 0;

  p {
    font-size: 14px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .contact-form-wrapper header {
    border-right: 1px solid gainsboro;
    padding-right: 20px;
  }
}

.contact-form-wrapper form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #AEAEAE;
  outline: none;
  transition: border-color 0.3s;
}

.input-container span {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 0;
  transition: all 0.3s;
  opacity: 0.5;
}

.input-container input:focus {
  border-bottom: 2px solid #6699FF;
}

.input-container input:focus+span,
.input-container input:not(:placeholder-shown)+span {
  transform: translateY(-16px);
  font-size: 12px;
  font-weight: 500;
  opacity: 1;
  color: #6699FF;
}

.input-container input::placeholder {
  color: transparent;
}